.tlc.section-info
{
  margin-left:1em;
  margin-top:-12px;
}

.tlc.setting-info
{
  font-style:italic;
  font-size:small;
}

.tlc.setting-format
{
  pad-left:1em;
  font-style:italic;
  font-weight:bold;
  font-size:smaller;
}


input:invalid
{
  background-color:lightpink;
}

#tlc-livestream-test-block
{
  display:none;
}
