form.tlc {
  margin-left: 15px;
  width: 100%;
  max-width: 750px;
}

form.tlc div.label {
  font-weight: bold;
  font-size: bigger;
  margin-top: 10px;
}

form.tlc div.info {
  font-weight: 200;
  margin-left: 30px;
  margin-bottom: 5px;
}

form.tlc div.info ul {
  margin-left: 20px;
  margin-top:5px;
}

form.tlc div.info ul li {
  margin-top:0px;
  margin-bottom:0px;
}

form.tlc div.input {
  margin-left: 30px;
}

form.tlc input.submit {
  margin-top:20px;
}

form.tlc input.tls-time {
  max-width: 4em;
  text-align: center;
}

form.tlc span.input-label {
  font-weight:bold;
}

form.tlc span.input-info {
  margin-left: 5px;
  font-weight:200;
}

span.tlc-status {
  margin-left:20px;
  padding-left:10px;
  padding-right:10px;
  font-weight:200;
  background:yellow;
  color:black;
  border:solid;
  border-width:1px;
  border-color:lightgray;
}

input:invalid {
  background-color:lightpink;
}

table.tlc-overview {
  margin-left:15px;
}

table.tlc-overview td.label {
  font-weight: bold;
}

table.tlc-overview td.value {
  padding-left:15px;
  font-weight:200;
}

table.tlc-overview td.status {
  padding-left:15px;
}

table.tlc-overview td.status img {
  height:13px;
}

table.tlc-overview td.info {
  padding-top:5px;
}

table.tlc-overview td.warning {
  font-weight:bolder;
  font-style:italic;
  color:#c00000;
}

table.tlc-overview td.note {
  padding-top:5px;
  color:blue;
}

table.tlc-overview tr.heading {
  margin-bottom:15px;
}

table.tlc-overview tr.heading td {
  font-weight:500;
  padding-bottom:5px;
}

table.tlc-overview td.id {
  padding-left:20px;
  font-weight:500;
}

form.tlc-overview span.input-label {
  padding-left:20px;
}


.tlc-shortcode-info {
  margin-top:10px;
  font-weight:bolder;
}

.tlc-shortcode-note {
  margin-left:15px;
  font-weight:400;
  font-style:italic;
}

.tlc-shortcode-args {
  margin-left:15px;
}

.tlc-shortcode-arg {
  font-weight:bolder;
  margin-top:10px;
}

.tlc-shortcode-arg-info {
  margin-left:15px;
  font-weight:400;
}

.tlc-shortcode-example {
  font-family: monospace;
  font-weight: bolder;
  font-size: medium;
  margin-left: 15px;
  padding: 10px;
  color: black;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
